*{box-sizing: border-box;}
img{width: 100%}
.tastText{
  width: 400px;
}
body{
  background-color:#d3dcc0;
}
.addField{
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
header{
    background-color: #0a2e36
}
.taskText{
  width: 400px;
  margin-bottom: 25px;
  height: 33px;
}
